/*
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */
* {
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}

body {
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
    font-family:'HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif;
    font-size:12px;
    height:100vh;
    margin:0px;
    padding:0px;
    width:100%;
	background:url(../img/background.jpg) center center no-repeat;
	background-size:auto 100%;
	background-attachment: fixed;
}

a {text-decoration:none;}

header{
	position:fixed;
	top:0;
	width:100%;
	background-color:white;
}

article{
	margin-top:9em;
}

#menu{
	display:block;
	font-size:1.7em;
}

#menuBar{
	min-height:3em;
	margin-top:1em;
}

#vrystaat{
	font-size:2em;
	color:#3d3c4c;
}

#subText{
	font-size:0.7em;
	color:#c73476;
}

#titleBar{
	padding:0 1em 1em 1em;
	width:100%;
}

#logoWrapper{
	display:inline-block;
	width:70%;
}

#logo{
	height:4em;
	width:4em;
	background:url(../img/VFlogo.png) center center no-repeat;
	background-size:100% auto;
	display:inline-block;
	margin-right:1em;
}

#map{
	width:100%;
	height:auto;
}

.venueBtn{
	width:100%;
	text-align:center;
	background-color: #c73476;
}

.venueSchedule{
	width:100%;
	text-align:center;
}
.venueSchedule a{
	color:black;
}
.venueSchedule td {
	padding:1em 0 1em 0;
}
.venueSchedule tr:nth-child(even){background-color: #c73476;}
.venueSchedule tr:nth-child(odd){background-color: #1e83c2;}

.menu a:not(:first-child) {
	display: none;
}

.catBtn{
	width:100%;
	background-color:#c73476;
}

.showMenu{
	display:block;
	text-align:left;
	background-color:#c73476;
	margin-bottom:0.7em;
}

.menu.showMenu a{
	margin-top:-1em;
	padding:0.7em 1em 0.7em 1em;
	margin:-0.7em 0 0.7em 0;
	display:block;
	float:none;
	color:white;

}

.menuBtn{padding:1em; color:#1e83c2;}


.active{background-color:#1e83c2;}

.venueLink{
	background-color:#c73476;
	width:100%;
	font-weight:bold;
	text-align:center;
}
.venueLink a{color:white;}
.venueLink td{padding:1em 0 1em 0;}
.venueLink tr:nth-child(even){background-color: #1e83c2;}

.googleVenueLink{
	text-align:center;
	width:100%;
	background-color:#c73476;
	padding:1em 0 1em 0;
	margin:auto;
	font-weight:bold;
}

.googleVenueLink a{
	color:white;
}

.venueImg{
	height:20em;
	width:100%;
}

.venueTitle{
	background-color:white;
	padding-bottom:1em;
	color:#c73476;
	font-weight:bold;
	text-align:center;
	margin-top:-1.6em;
	font-size:1.2em;
}

.catSchedule{
	display:none;
	text-align:center;
	background-color:#1e83c2;
}
.catSchedule td {padding:0.5em 0 0.5em 0;width:100vw;}
.catSchedule tr:nth-child(even){background-color: yellow;}
.catSchedule tr:nth-child(odd){background-color: green;}
.catSchedule.show{
	display:block;
}

.categoriesTable{
	width:100%;
	background-color:#c73476;
	text-align:center;
}
.categoriesTable tr{background-color:#c73476;}
.categoriesTable td{padding:1em 0 1em 0;}

.schedule{
	width:100%;
	text-align:center;
	margin:auto;
	font-weight:bold;
	color:white;
}
.schedule td{padding:1em 0 1em 0;}
.schedule tr:nth-child(even){background-color: #1e83c2;}
.schedule tr:nth-child(odd){background-color: #c73476;}

.showImg{
	height:20em;
	width:100%;
}

.showTitle{
	background-color:#c73476;
	padding-bottom:1.5em;
	color:#fff;
	font-weight:bold;
	text-align:center;
	margin-top:-1.6em;
	font-size:1.2em;
}

.showDesc{
	background-color:white;
	color:#000;
	padding:1em;
}

.buyTicket {
	background-color:#c73476;
	padding-bottom:1.5em;
	padding-top:1.5em;
	color:#fff;
	font-weight:bold;
	text-align:center;
	font-size:1.2em;
}
.buyTicket a{
	color:#000;
}

.mapBtn{
	text-align:center;
	width:100%;
	background-color:#c73476;
	padding:1em 0 1em 0;
	margin:auto;
	font-weight:bold;
}

.mapBtn:nth-child(even){background-color: #blue;}

/* Portrait layout (default) */
.app {
    background:url(../img/logo.png) no-repeat center top; /* 170px x 200px */
    position:absolute;             /* position in the center of the screen */
    left:50%;
    top:50%;
    height:50px;                   /* text area height */
    width:225px;                   /* text area width */
    text-align:center;
    padding:180px 0px 0px 0px;     /* image height is 200px (bottom 20px are overlapped with text) */
    margin:-115px 0px 0px -112px;  /* offset vertical: half of image height and text area height */
                                   /* offset horizontal: half of text area width */
}

/* Landscape layout (with min-width) */
@media screen and (min-aspect-ratio: 1/1) and (min-width:400px) {
    .app {
        background-position:left center;
        padding:75px 0px 75px 170px;  /* padding-top + padding-bottom + text area = image height */
        margin:-90px 0px 0px -198px;  /* offset vertical: half of image height */
                                      /* offset horizontal: half of image width and text area width */
    }
}

.clear-fix{clear:both;}

@keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}

@-webkit-keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}

#odeionImg{background:url(../img/venues/odion.jpg) center center no-repeat; background-size:100% auto;}

#show1Img{background:url(../img/shows/show1.jpg) center center no-repeat; background-size:100% auto;}

